<template>
  <div class="container" >
    <!-- column-end is the number of child bcs -->
    <div
      @click="openLink(businessCapability.id, 'BusinessCapability')"
      class="l1-title clickable"
      :style="`grid-column-start: 1; grid-column-end: ${children.length + 1}; color: ${businessCapabilityStyle.color}; background: ${businessCapabilityStyle.background}`">
      {{businessCapability.name}}
    </div>
    <div
      class="app1 ellipsis"
      @click="openLink(application.id, 'Application')"
      :style="`grid-column-start: 1; grid-column-end: ${children.length + 1}; ${application.style}`" v-for="application in firstOrderApplications" :key="application.id">
        <div class="block-ellipsis clickable">{{application.name}}</div>
    </div>
    <div
      class="l2-title"
      @click="openLink(child.id, 'BusinessCapability')"
      :style="businessCapabilityStyle" v-for="(child, idx) of children" :key="`child-${child.id}-${idx}`">
        <div class="block-ellipsis clickable">{{child.name}}</div>
    </div>
    <div
      class="app"
      @click="openLink(application.id, 'Application')"
      v-for="(application, idx) of secondOrderApplications"
      :key="`application-${application.id}-${idx}`"
      :style="application.style">
      <div class="block-ellipsis clickable">{{application.name}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: ['businessCapability', 'businessCapabilities', 'applications', 'businessCapabilitiesToApplicationsMap', 'legendItems', 'mapping', 'viewModel', 'baseUrl'],
  computed: {
    // L2 business capabilities
    children () {
      const children = this.businessCapability.children.map(childID => this.businessCapabilities[childID]).filter(child => child !== undefined)
      return children
    },
    // applications related to L1 business capabilities
    firstOrderApplications () {
      const applications = (this.businessCapabilitiesToApplicationsMap[this.businessCapability.id] || [])
        // .filter(appID => !this.applications[appID])
        .map(appID => this.applications[appID])
        .map(application => {
          const { id } = application
          const appMapping = this.mapping[id] || {}
          const { legendId } = appMapping
          const appLegend = this.legendItems.filter(item => item.id === legendId).shift() || {}
          const { bgColor, color } = appLegend
          const style = `background: ${bgColor}; color: ${color}`
          return { ...application, style }
        })
      return applications
    },
    secondOrderApplications () {
      const { children = [] } = this.businessCapability
      let applications = children
        .map((childID, bcIdx) => (this.businessCapabilitiesToApplicationsMap[childID] || []).map(appID => { return { ...this.applications[appID], bcIdx } }))
        .reduce((accumulator, applications) => { return [ ...accumulator, ...applications ] })
        .filter(appID => !this.applications[appID])
        .reduce((accumulator, application) => {
          const { bcIdx } = application
          delete application.bcIdx
          if (!accumulator[application.id]) accumulator[application.id] = application
          if (!accumulator[application.id].bcIndexes) accumulator[application.id].bcIndexes = []
          accumulator[application.id].bcIndexes.push(bcIdx)
          return accumulator
        }, {})
      applications = Object.values(applications)
        .sort((a, b) => {
          const aBusinessCapabilities = (a.bcIndexes || []).length
          const bBusinessCapabilities = (b.bcIndexes || []).length
          return aBusinessCapabilities < bBusinessCapabilities ? 1 : aBusinessCapabilities > bBusinessCapabilities ? -1 : 0
        })
        .map(application => {
          let { id, bcIndexes } = application
          const appMapping = this.mapping[id] || {}
          const { legendId } = appMapping
          const appLegend = this.legendItems.filter(item => item.id === legendId).shift() || {}
          const { bgColor, color } = appLegend
          // sort indexes by ascending order 0 -> N
          bcIndexes = bcIndexes.sort((a, b) => { return a - b })
          bcIndexes = bcIndexes.reduce((accumulator, bcIdx) => {
            if (!accumulator.length) return [[bcIdx, bcIdx + 1]]
            let last = accumulator.pop()
            const lastIdx = last[last.length - 1]
            if (bcIdx === lastIdx) last[last.length - 1] = bcIdx + 1
            else {
              accumulator.push(last)
              last = [bcIdx, bcIdx + 1]
            }
            accumulator.push(last)
            return accumulator
          }, [])
          const style = `background: ${bgColor}; color: ${color}`
          // const style = `grid-column-start: ${i + 1}; grid-column-end: ${i + 2}; background: ${bgColor}; color: ${color}`
          return { ...application, bcIndexes, style }
        })
        .reduce((accumulator, application) => {
          const { bcIndexes = [] } = application
          delete application.bcIndexes
          const applications = bcIndexes.map(indexes => {
            let startCol = 1
            let endCol = 2
            if (indexes.length === 1) {
              startCol = indexes[0] + 1
              endCol = startCol + 1
            } else {
              startCol = indexes[0] + 1
              endCol = indexes[indexes.length - 1] + 1
            }
            return `grid-column-start: ${startCol}; grid-column-end: ${endCol}`
          }).map(style => { return { ...application, style: `${application.style}; ${style}` } })
          return [ ...accumulator, ...applications ]
        }, [])
      return applications
    },
    businessCapabilityStyle () {
      const style = (this.viewModel || [])
        .filter(item => item.type === 'BusinessCapability').shift() || {}
      const { bgColor = '#fff', color = '#000' } = style
      return { color, background: bgColor, border: `6px double ${color}` }
    }
  },
  methods: {
    openLink (factSheetID, factSheetType) {
      const url = `${this.baseUrl}/factsheet/${factSheetType}/${factSheetID}`
      console.log('opening', url)
      this.$lx.openLink(`${this.baseUrl}/factsheet/${factSheetType}/${factSheetID}`)
    }
  }
}
</script>

<style lang="stylus" scoped>
  @import '../stylus/material-color'

  $child-height=20px
  $border-radius=6px
  $gutter=1rem

  .container
    font-size 1rem
    border 1px solid clr-grey
    display grid
    grid-gap $gutter
    padding 0 $gutter $gutter $gutter
    // justify-items stretch
    // align-items center
    // justify-content stretch
    grid-auto-rows 86.53px
    grid-auto-columns 140px
    // cursor default
    border-radius $border-radius
    background clr-grey-50
    > *
      transition background-color 0.3s ease
    > div
      // height $child-height
      border-radius $border-radius
      vertical-align middle
      padding 1rem
      display flex
      align-items center
      justify-content center

  .l1-title
    font-size 1.2rem
    font-weight bold
    background clr-white
    // color white
    margin 0 -1rem
    border-radius $border-radius $border-radius 0 0 !important
    border-bottom 1px solid clr-grey

  .l2-title
    border 1px solid clr-grey
    // background clr-green
    // color white
    border 1px dashed black

  .app1
    border 1px solid clr-grey
    background white
  .app
    border 1px solid clr-grey
    background white

// one-line ellipsis
.ellipsis
  text-overflow ellipsis
  /* Required for text-overflow to do anything */
  white-space nowrap
  overflow hidden

// multi-line ellipsis
.block-ellipsis
  display block
  display -webkit-box
  max-width 100%
  margin 0 auto
  -webkit-line-clamp 3
  -webkit-box-orient vertical
  overflow hidden
  text-overflow ellipsis

.clickable
  cursor pointer
  &:hover
    text-decoration underline
</style>
