<template>
  <div id="app">
    <div class="chart-container" :style="`cursor: ${panning === true ? 'grabbing' : 'grab'}`" ref="chart">
      <card
        v-for="businessCapability in l1BusinessCapabilities"
        :key="businessCapability.id"
        :businessCapability="businessCapability"
        :businessCapabilities="allBusinessCapabilities"
        :applications="applications"
        :businessCapabilitiesToApplicationsMap="businessCapabilitiesToApplicationsMap"
        :legendItems="legendItems"
        :mapping="mapping"
        :viewModel="viewModel"
        :baseUrl="baseUrl"
      />
    </div>
  </div>
</template>

<script>
import panzoom from 'panzoom'
import Card from '@/components/Card'

export default {
  name: 'app',
  components: { Card },
  data () {
    return {
      currentZoom: 100,
      wrap: false,
      minZoom: 0.25,
      maxZoom: 3,
      panning: false,
      panInstance: undefined,
      legendItems: [],
      mapping: {},
      viewModel: {},
      applications: {},
      businessCapabilities: {},
      allBusinessCapabilities: {},
      businessCapabilityFilter: {},
      applicationsFilter: {},
      maxBusinessCapabilityLevel: 2,
      baseUrl: ''
    }
  },
  computed: {
    l1BusinessCapabilities () {
      return Object.values(this.businessCapabilities)
        .filter(bc => bc.level === 1)
        // sort by number of children
        .sort((a, b) => { return a.children.length < b.children.length ? 1 : a.children.length > b.children.length ? -1 : 0 })
    },
    businessCapabilitiesToApplicationsMap () {
      const findParentAtMaxBCLevel = (bcId, maxBCLevel, bcs) => {
        const bc = bcs[bcId]
        if (!bc) throw Error(`business capability ${bc} not found`)
        const { level, parent } = bc
        if (level <= maxBCLevel) return bc
        else return findParentAtMaxBCLevel(parent, maxBCLevel, bcs)
      }

      const { applications, allBusinessCapabilities } = this
      if (!Object.values(allBusinessCapabilities).length) return {}

      const businessCapabilitiesToApplicationsMap = Object.values(applications).reduce((accumulator, application) => {
        const { id, relatedBusinessCapabilities = [] } = application
        relatedBusinessCapabilities.map(bcId => {
          const bc = findParentAtMaxBCLevel(bcId, this.maxBusinessCapabilityLevel, this.allBusinessCapabilities)
          if (!accumulator[bc.id]) accumulator[bc.id] = []
          accumulator[bc.id].push(id)
        })
        return accumulator
      }, {})
      return businessCapabilitiesToApplicationsMap
    }
  },
  watch: {
    businessCapabilityFilter (val, oldVal) {
      if (JSON.stringify(val) !== JSON.stringify(oldVal)) {
        if (Array.isArray(val.facetFilters) && val.facetFilters.filter(facet => facet.facetKey === 'FactSheetTypes' && facet.keys.indexOf('BusinessCapability') > -1).length) {
          this.fetchBusinessCapabilities(val)
            .then(bcs => { this.businessCapabilities = bcs })
          this.fetchBusinessCapabilities()
            .then(bcs => { this.allBusinessCapabilities = bcs })
        }
      }
    }
  },
  methods: {
    generateReportConfig (setup) {
      if (!(setup instanceof Object)) throw Error('please provide the setup object received from $lx.init() method')
      const { translations, viewModel, baseUrl } = setup.settings
      this.baseUrl = baseUrl
      this.viewModel = viewModel.factSheets || {}
      const applicationLabel = translations.factSheetTypes['Application.plural']

      const relApplicationToBusinessCapabilityFragment = `relatedBusinessCapabilities: relApplicationToBusinessCapability{edges{node{factSheet{id}}}}`

      const reportConfig = {
        allowEditing: false,
        allowTableView: false,
        facets: [
          {
            key: 1,
            fixedFactSheetType: 'Application',
            label: applicationLabel,
            attributes: ['id', 'name', 'type', relApplicationToBusinessCapabilityFragment],
            callback: dataset => {
              this.applications = dataset
                .map(factsheet => {
                  let { relatedBusinessCapabilities } = factsheet
                  relatedBusinessCapabilities = relatedBusinessCapabilities.edges
                    .map(edge => edge.node.factSheet.id)
                  return { ...factsheet, relatedBusinessCapabilities }
                })
                .reduce((accumulator, factsheet) => { return { ...accumulator, [factsheet.id]: factsheet } }, {})
            }
          }
        ],
        // Coloring is done for applications
        reportViewFactSheetType: 'Application',
        reportViewCallback: data => {
          const { legendItems, mapping } = data
          this.legendItems = legendItems
          this.mapping = mapping.reduce((accumulator, fs) => { return { ...accumulator, [fs.fsId]: fs } }, {})
        }
      }
      return reportConfig
    },
    fetchBusinessCapabilities (filter) {
      if (!filter) filter = { facetFilters: [ { facetKey: 'FactSheetTypes', keys: ['BusinessCapability'] } ] }
      const fsFields = `id name level`
      const parentFragment = `parent:relToParent{edges{node{factSheet{id}}}}`
      const childrenFragment = `children:relToChild{edges{node{factSheet{id}}}}`
      const query = `query($filter:FilterInput){op:allFactSheets(filter:$filter){edges{node{...on BusinessCapability{${fsFields} ${parentFragment} ${childrenFragment}}}}}}`
      return this.$lx.executeGraphQL(query, { filter })
        .then(res => {
          return res.op.edges
            .map(edge => edge.node)
            .map(node => {
              let { parent, children } = node
              if (parent) parent = parent.edges.map(edge => edge.node.factSheet.id).shift()
              if (children) children = children.edges.map(edge => edge.node.factSheet.id)
              return { ...node, parent, children }
            })
            .reduce((accumulator, bc) => { return { ...accumulator, [bc.id]: bc } }, {})
        })
        .catch(err => { console.error('error while fetching business capabilities', err) })
    }
  },
  created () {
    this.fetchBusinessCapabilities()
      .then(bcs => { this.allBusinessCapabilities = bcs; this.businessCapabilities = bcs })
    this.$lx.init()
      .then(setup => {
        console.debug(`report setup`, setup)
        const reportConfig = this.generateReportConfig(setup)
        this.$lx.ready(reportConfig)
      })
  },
  mounted () {
    const options = {
      bounds: true,
      maxZoom: this.maxZoom,
      minZoom: this.minZoom,
      zoomSpeed: 0.15,
      zoomDoubleClickSpeed: 1,
      onDoubleClick: e => {
        // reset zoom
        this.panInstance.moveTo(0, 0)
        this.panInstance.zoomAbs(0, 0, 1)
        return false
      }
    }
    this.panInstance = panzoom(this.$refs.chart, options)
    this.panInstance.on('panstart', e => { this.panning = true })
    this.panInstance.on('panend', e => { this.panning = false })
  }
}
</script>
<style lang="stylus">
 *:focus
   outline: 0

#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  display flex
  flex-flow column
  align-items flex-start
  height calc(100vh - 20px)
  width 100%
  overflow hidden

.chart-container
  flex 1
  padding 1rem
  // border 1px solid grey
  display flex
  flex-flow row
  align-items flex-start
  justify-content center
  > div
    margin 1rem

</style>
